<p>Use the form below to be updated when the product you're after goes on sale.</p>
<p>Simply copy and paste the url of the page your product is on <em>(Note there must be only one product on that page)</em>
</p>
<section id="add">
	<form action="/" method="post">
		<input name="content" placeholder ="Your email" >
		<input name="content" placeholder ="URL" >
		<input type = "submit">
	</form>
</section>

